{% extends "base.html" %}

{% block content %}
<div class="container text-center">
<h1>Lets make some coffee!</h1>
<!-- <p>DEBUG: the_made_coffee is {{ session['the_made_coffee'] }}</p> -->
  <div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-md-4">
    <h3>Recipes:</h3>
    <div class="accordion" id="myAccordion">
        <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        1) {{menu_items[0] | capitalize}}
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <strong>Ingredients</strong>
        <ul class="text-start">
            <li>{{all_ingredients[0]}}</li>
            <li>{{all_ingredients[1]}}</li>
            <li>{{all_ingredients[2]}}</li>
        </ul>
        </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        2) {{menu_items[1] | capitalize}}
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <strong>Ingredients</strong>
        <ul class="text-start">
            <li>{{all_ingredients[3]}}</li>
            <li>{{all_ingredients[4]}}</li>
            <li>{{all_ingredients[5]}}</li>
        </ul>
        </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3) {{menu_items[2] | capitalize}}
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <strong>Ingredients</strong>
        <ul class="text-start">
            <li>{{all_ingredients[6]}}</li>
            <li>{{all_ingredients[7]}}</li>
            <li>{{all_ingredients[8]}}</li>
        </ul>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-md-8 mb-6 mb-md-0 pt-4 coffee-machine-background">
        <form method="POST">
        {{form.hidden_tag()}}
        {{form.add_coffee.label}}{{form.add_coffee()}}
        {{form.add_water.label}}{{form.add_water()}}
        {{form.add_milk.label}}{{form.add_milk()}}
        {{form.make}}
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category=="insufficient_inventory" %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}
        {% endwith %}
        {% if made %}
        
        {% if session['the_made_coffee'] == 'espresso' %}
        <div class="m-4 coffee-container">
            <img src="../static/Espresso.png" alt="Espresso">
        </div>
        {% elif session['the_made_coffee'] == 'latte' %}
        <div class="m-4 coffee-container">
            <img src="../static/Latte.png" alt="Latte">
        </div>
        {% elif session['the_made_coffee'] == 'cappuccino' %}
        <div class="m-4 coffee-container">
            <img src="../static/Cappuccino.png" alt="Cappuccino">
        </div>
        {% else %}
        <div class="m-4 coffee-container">
            <img src="../static/Mystery_Coffee.png" alt="Mystery Coffee">
        </div>
        {% endif %}
        <div class="d-flex gap-4 justify-content-center">
            <form method="POST">
                {{form2.hidden_tag()}}
                {{form2.remake()}}
            </form>
            <form method="POST">
                {{form3.hidden_tag()}}
                {{form3.done()}}
            </form>
        </div>
        {% endif %}
    </div>
  </div>
</div>
</div>

{% endblock %}