{% extends "base.html" %}

{% block content %}

<div class="container text-center" >
    <h1><u>Customer #{{customer_num}}</u>: "{{customer_mess}}"</h1>
    <div class="d-flex gap-4 justify-content-center">
        {% if rejected == False%}
            {% if accepted == False %}
            <form method="POST">
                {{form.hidden_tag()}}
                {{form.reject()}}
            </form>
            {% endif %}
        <form method="POST">
                {{form2.hidden_tag()}}
                {{form2.make()}}
        </form>
        {% if accepted and session['the_made_coffee'] != None %}
        <form method="POST">
            {{form4.hidden_tag()}}
            {{form4.give()}}
        </form>
        {% endif %}
        {% else %}
        <form method="POST">
            {{form3.hidden_tag()}}
            {{form3.next_customer()}}
        </form>
        {% endif %}
    </div>
    {% if session['the_made_coffee'] == 'espresso' %}
        <div class="m-4">
            <img src="../static/Espresso.png" alt="Espresso">
        </div>
        {% elif session['the_made_coffee'] == 'latte' %}
        <div class="m-4">
            <img src="../static/Latte.png" alt="Latte">
        </div>
        {% elif session['the_made_coffee'] == 'cappuccino' %}
        <div class="m-4">
            <img src="../static/Cappuccino.png" alt="Cappuccino">
        </div>
        {% elif session['the_made_coffee'] == 'mystery' %}
        <div class="m-4">
            <img src="../static/Mystery_Coffee.png" alt="Mystery Coffee">
        </div>
        {% endif %}
</div>

{% endblock %}